<div class="signin-card card">

    <label for="username">Username</label>
    <input type="text" id="username" class="form-control">

    <label for="username">Password</label>
    <input type="password" id="password" class="form-control">

</div>
